<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/app.min.js"></script>
<script src="/js/app.init.js"></script>
<script src="/js/app-style-switcher.js"></script>
<script src="/js/waves.js"></script>
<script src="/js/sidebarmenu.js"></script>
<script src="/js/feather.min.js"></script>
<script src="/js/custom.min.js"></script>
<script src="/js/dashboard1.js"></script>
<script src="/js/perfect-scrollbar.jquery.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/apexcharts.min.js"></script>


  </body>
</html>